
APPPREFIX_LOG_LEVEL=info

APPPREFIX_API_DISABLE_DOCS=false

APPPREFIX_DB_PATH=./data/db.sqlite
APPPREFIX_DB_AUTO_MIGRATE=true

APPPREFIX_LOG_DIR=./data/logs
APPPREFIX_CONFIG_BASE_DIR=./config

APPPREFIX_APP_URL=http://localhost:12520

APPPREFIX_SMTP_HOST=mail.example.com
APPPREFIX_SMTP_PORT=465
APPPREFIX_SMTP_USERNAME=user
APPPREFIX_SMTP_PASSWORD=
APPPREFIX_SMTP_FROM='"App" <system@app.example.com>',
APPPREFIX_SMTP_SECURE=true